body {
    background-color: black;
    overflow-x: hidden;
    width: 100%;

  }
  
  nav ul {
    color: #00F500;
  }
  
  .bc {
    border-color: #00F500;
  }
  
  .tc{
    color: #00F500;
  }

  .p{
    margin-top: 100px;
  }

  .tektur {
    font-family: 'Tektur', sans-serif;
  }

  .wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1920px;
}

.bullet {
  list-style-type: square;
  padding-left: 20px;
}